*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}

#preloader{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preloader .loading{
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#preloader .loader{
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border: 4px solid #d8d0d0;
    border-top: 4px solid #2280cc;
    border-radius: 50%;
    animation: rotate 3s linear infinite;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg); 
    }
}

#content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}